{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Game of Dogs</title>
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://surveyjs.azureedge.net/1.0.94/survey.jquery.js"></script>
        <link href="https://surveyjs.azureedge.net/1.0.94/survey.css" type="text/css" rel="stylesheet"/>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Game of Dogs: Quiz show</h1>
{{ end }}
